body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

.contenedor {
    background-color: white;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}

button:disabled {
    background-color: #df5959;
    cursor: not-allowed;
    color: black;
}

button.activo {
    background-color: #4CAF50;
    color: white;
}


